.form-box-container {
    z-index: 100;
    margin-top: 10px;
    width: 100%;
    height: 98vh;
    position: fixed;
    display: flex;
    justify-content: center;
}
.form-box {
    width: 85%;
    border-radius: 25px;
    background-color: #697565;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 21px;
    height: fit-content;
    max-height: 95%;
}
.form-box h1 {
    text-transform: uppercase;
}
.form-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.close {
    position: absolute;
    top: 1.1%;
    left: 8.5%;
    height: 40px;
    cursor: pointer;
}
.close img {
    width: 40px;
}
.form-form label {
    text-align: center;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.form-form label span {
    width: 150px;
}
.form-form input, .form-form textarea {
    width: 90%;
    float: right;
    border: none;
    outline: none;
    background-color: #3c3d37;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    border-radius: 40px;
    padding: 7px;
    color: #ecdfcc;
    font-size: 15px;
    margin-top: 5px;
}
.form-form input.invalid, .form-form textarea.invalid {
    border-bottom: 2px solid #cf0000;
}
.form-form textarea {
    border-radius: 15px;
    resize: vertical;
    height: unset;
}
.form-btn {
    text-transform: uppercase;
    border: none;
    background-color: #3c3d37;
    color: #ecdfcc;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    height: 45px;
    min-width: 100px;
    width: fit-content;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}
.form-error {
    color: #cf0000;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 8px;
    margin-left: 15%;
  }

/* AddFilmSeriesSingleMovie */
.form-film-series-single-movie {
    width: 95%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    border: 2px solid #3c3d37;
    border-radius: 10px;
    /* padding: 10px; */
    box-sizing: border-box;
    
    transition: max-height 300ms ease-out;
    max-height: 3rem; /* Set a max-height value just enough to show the summary content */
    overflow: hidden; /* Hide the rest of the content */
}
.form-film-series-single-movie:has(input.invalid) {
    border: 2px solid #cf0000;
}
.details-input {
    display: none;
}
.form-film-series-single-movie summary {
    font-size: 22px;
    text-transform: uppercase;
    margin: auto;
    cursor: pointer;
    display: block;
}
.form-film-series-single-movie summary label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem; /* This height value must be equal to max-height value of <details> element  */
}
.form-film-series-single-movie summary label:hover {
    cursor: pointer;
  }

.form-film-series-single-movie summary label::after {
  content: "⏵";
  font-size: 1.5rem;
  /* height: 4rem; */
  display: flex;
  align-items: center;
  transition: rotate 200ms 400ms ease-out;
}
.details-input:checked + details,
details:has(.details-input:checked) {
    max-height: 300px; /* Set a max-height value enough to show all the content */
}

.details-input:checked + details label::after,
details:has(.details-input:checked) label::after {
  rotate: 90deg;
  transition: rotate 200ms ease-out;
}
.form-film-series-single-movie .form-form {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
details>summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display: none
}
/* summary::after {
    content: ' ►';
}
details[open] summary:after {
    content: " ▼";
} */
.form-form label.single-movie {
    width: 100%;
}