.movies {
    margin: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.card-link {
    margin: 10px;
    text-decoration: none;
    color: unset;
}
.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 10px;
    gap: 10px;
}
.bar-box {
    display: flex;
    background-color: #3c3d37;
    height: 30px;
    position: relative;
    width: fit-content;
    max-width: fit-content;
    border-radius: 40px;
    padding: 5px;
    cursor: pointer;
}
.bar-box.hide {
    display: none;
}
.search-box::before, .filter-box::before {
    content: "";
    width: calc(100% + 10px);
    position: absolute;
    /* top: -5px; */
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    background: #697565;
    z-index: -1;
    height: 50px;
    /* width: 50px; */
    transition: 0.4s;
    visibility: hidden;
}
.search-box:focus-within::before {
    /* width: 302px; */
}
.search-box:focus-within>.search-text {
    width: 240px;
    padding: 0 6px;
}
.search-btn {
    background-image: url('../images/search_icon.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.4s;
}
.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #ecdfcc;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-family: 'Nunito', sans-serif;
}
.add-movie-icon {
    background-image: url('../images/add_movie.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.add-film-series-icon {
    background-image: url('../images/add_film_series.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.add-series-icon {
    background-image: url('../images/add_series.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.favorite-icon {
    background-image: url('../images/favorite.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}
.favorite-fill-icon {
    background-image: url('../images/favorite_fill.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}
.filter-icon {
    background-image: url('../images/filter.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: left;
}
.filter-menu {
    width: max-content;
    background: #3c3d37;
    position: absolute;
    top: 40px;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid;
    cursor: default;
}
.filter-option {
    padding: 3px 8px;
    text-align: center;
    cursor: pointer;
}
.filter-option:hover {
    background: #697565;
}
.filter-option:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.filter-option:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.filter-text {
    float: right;
    line-height: 30px;
}
.filter-text span {
    margin: 0 3px;
    background-color: red;
    padding: 0 3px;
    border-radius: 5px;
}
.filter-text span:hover {
    background-color: #cf0000;
}
.menu {
    position: absolute;
    padding: 5px;
    background: #181C14;/*#383937 */
    border: 1px solid;
    border-radius: 5px;
    color: #ecdfcc;
    line-height: 0;
}
.menu-img {
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    background-color: #3c3d37;
    border-radius: 3px;
}
.menu-img:hover {
    background-color: #64665d;
}