.movies {
    margin: 5px;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card-link {
    margin: 10px;
    text-decoration: none;
    color: unset;
}

.multiple-delete-icon {
    background: url('../images/delete.svg'), red;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    top: 58px;
    cursor: pointer;
    border: 2px solid;
}

.addPopupContainer {
    display: flex;
    height: 35px;
    align-items: center;
}