@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');
colors {
    color: #181c14;
    color: #3c3d37;
    color: #697565;
    color: #ecdfcc;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #181C14;
    color: #ecdfcc;
    /* overflow: hidden; */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error {
    color: #cf0000;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    /* List */
    a.card-link {
        width: 100%;
    }
    div.bar {
        flex-direction: column;
        position: fixed;
        left: 0px;
        background-color: #697565;
        padding: 5px;
        border-radius: 10px;
        justify-content: unset;
        height: 290px;
        transition: 0.4s;
        /* height: 40px; */
        /* overflow-y: clip; */
        opacity: 0.9;
    }
    div.bar-box.hide {
        display: block;
    }
    div.search-container {
        width: 40px;
    }
    div.search-box::before, div.filter-box::before {
        visibility: visible;
    }
    /* Card */
    div.card {
        width: 100%;
    }
    /* Forms */
    div.form-box {
        width: 90%;
    }
    div.form-form label {
        flex-direction: column;
        gap: 0;
    }
    div.form-form input, div.form-form textarea {
        margin-top: 0;
    }
    /* ImagesPreview */
    img.photos {
        width: 100%;
    }
    /* Info */
    div.short-info {
        flex-direction: column;
    }
    img.info-img {
        width: 100%;
    }
    table.info-table {
        font-size: 15.5px;
    }
}
@media screen and (max-width: 350px) {
    a.card-link {
        width: 90%;
        margin: 6px;
    }
}