@import url('https://fonts.googleapis.com/css?family=Nunito:800i&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #181C14;
    color: #ecdfcc;
    /* overflow: hidden; */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error {
    color: #cf0000;
    font-size: 30px;
    margin-top: 30px;
}