.popup {
    /* Variables */
    --popup-background-color-default: #3c3d37;
    --popup-background-color-error: #b94848;
    --popup-background-color-success: #729d72;
    --popup-border-color-error: red;
    --popup-border-color-success: green;
    /* ----------------------- */

    position: fixed;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    z-index: 100;
}

/* Położenie */
.popup-position-topLeft {
    top: 5px;
    left: 5px;
}
.popup-position-topMiddle {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-position-topRight {
    top: 5px;
    right: 5px;
}
.popup-position-bottomLeft {
    bottom: 5px;
    left: 5px;
}
.popup-position-bottomMiddle {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-position-bottomRight {
    bottom: 5px;
    right: 5px;
}
.popup-position-leftMiddle {
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
.popup-position-rightMiddle {
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
/* Kolory */
.popup-color-error {
    background-color: var(--popup-background-color-error);
    border-color: var(--popup-border-color-error);
}
.popup-color-success {
    background-color: var(--popup-background-color-success);
    border-color: var(--popup-border-color-success);
}
.popup-color-default {
    background-color: var(--popup-background-color-default);
    border-color: var(--popup-border-color-default);
}