.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
}